<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Tmp</servlet-name>
  	<display-name>Tmp</display-name>
  	<description></description>
  	<servlet-class>com.hb.test.Tmp</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Tmp</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
